.container {
    padding: 2px 16px;
}
.cardContainer{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: inline-block;
    max-width: 500px;
    padding: 4px 4px;
    margin: 10px;
    background-color: white;
    text-align: center;
    float:left;
}

.cardContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(.75,1.5);
    transition: all .5s ease-in-out;
}

.cardS {
    width: 20%;
    height: 250px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.cardP {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: inline-block;
    max-width: 500px;
    padding: 4px 4px;
    margin: 10px;
    background-color: white;
    text-align: center;
    float: left;
}


.jumbotron {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 85%;
    border: 5px solid green;
    padding: 50px;
    margin: 20px;
    background-color: white;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    width: 85%;
    border: 5px solid green;
    padding: 50px;
    margin: 20px;
    background-color: white;
}

.topnav {
    overflow: hidden;
    background-color: white;
}

    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
        font-size: 17px;
        background-color: white;
        color: black;
    }

        .topnav a:hover {
            background-color: yellow;
            color: black;
        }

        .topnav a.active {
            background-color: white;
            color: green;
        }